@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Quote {
    font-family: "Poppins", sans-serif;
  font-style: normal;
    background-color: #ee7d7d; /* Red background for the quote */
    color: #fff; /* White text color for contrast */
    padding: 20px; /* Padding for the quote box */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px; /* Space between the quote and the image */
    width: 90%; /* Width of the quote box */
    max-width: 500px; /* Maximum width for the quote box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    text-align: left; /* Center align the text inside the quote */
    align-self: left; /* Center the quote block */
}
